:host {
    display: block;
    width: auto;
    margin: 0 2em;
}
:host div {
    float: left;
}

:host div.heartrate-value {
    float: left;
    font-size: 25pt;
    margin-left:0.9em;
    color: var(--primary-color);
}

.heart-rate-icon {
    display: block;
    width: 50px;
    
}
.heart-rate-icon path {
    stroke: none;
    fill: var(--primary-color);
}

.graph {
    height: 50px;
    width: 150px;
    margin-left: 1em;
}