:host svg {
    height: 50px;
    float: left;
    clear: left;
    margin: 2em 2em;    
    
}

:host div {
    float: left;
    font-size: 25pt;
    margin-top:0.9em;
    color: var(--primary-color);
}

:host svg path {
    fill: var(--primary-color);
}